{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5 position-relative">
        <a class="navbar-brand fs-4 fw-bold py-3" href="{% url 'home' %}" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">{% trans "Home" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            {% trans "Menu" %}
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-nav-even w-100 py-4 py-lg-0 align-items-center">
                <li class="nav-item nav-spacer d-none d-lg-block" aria-hidden="true"></li>
                <li class="nav-item dropdown ">
                    <a class="nav-link fs-5 px-lg-4 py-3 py-lg-4 dropdown-toggle" href="#" id="forGuestsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Montserrat', sans-serif; font-weight: 500;">
                        For Guests
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark rounded" aria-labelledby="forGuestsDropdown">
                        <li><a class="dropdown-item fs-5 py-2 rounded" href="{% url 'rsvp' %}" data-rsvp-jump="rsvpStart" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">RSVP</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fs-5 px-lg-2 py-3 py-lg-4 dropdown-toggle" style="font-family: 'Montserrat', sans-serif; font-weight: 500;" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "About" %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark rounded" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item fs-5 py-2 rounded" href="{% url 'about' %}#weddingstyle" data-about-jump="weddingstyle" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">{% trans "Wedding Style" %}</a></li>
                        <li><a class="dropdown-item fs-5 py-2 rounded" href="{% url 'about' %}#the_ceremony" data-about-jump="the_ceremony" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">{% trans "Ceremony" %}</a></li>
                        <li><a class="dropdown-item fs-5 py-2 rounded" href="{% url 'about' %}#the_program" data-about-jump="the_program" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">{% trans "Timeline" %}</a></li>
                        <li><a class="dropdown-item fs-5 py-2 rounded" href="{% url 'about' %}#accommodation" data-about-jump="accommodation" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">{% trans "Accommodation" %}</a></li>
                    </ul>
                </li>
            </ul>
            <form action="{% url 'set_language' %}" method="post" class="lang-switch"> {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}"> {% if CURRENT_LANGUAGE == 'uk' %}
                <input type="hidden" name="language" value="en">
                <button type="submit" class="nav-language__button">EN</button>
                {% else %} <input type="hidden" name="language" value="uk">
                <button type="submit" class="nav-language__button">UA</button>
                {% endif %}
            </form>
        </div>

    </div>
</nav>
